# Clean Sentiment140 Data Set
This notebook processes the Sentiment140 data set to prepare the tweets for using with the model. The processing removes URLs, mentions, punctuation and so on.

In [37]:
import json
import os
import pandas as pd
import preprocessor
import re

## Set some useful variables

In [55]:
DATA_DIR = '../data'
SENTIMENT140_FILE = 'training.1600000.processed.noemoticon.csv'
CONTRACTIONS_FILE = 'contractions.json'
CLEAN_SENTIMENT140_FILE = 'sentiment140_clean.csv'

## Load the data set

In [16]:
df = pd.read_csv(os.path.join(DATA_DIR, SENTIMENT140_FILE),
                 encoding='latin-1',
                 names=['target', 'ids', 'date', 'flag', 'user', 'text'])

In [31]:
df['text'] = df['text'].str.lower()

In [32]:
df.head()

,target,ids,date,flag,user,text
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@kenichan i dived many times for the ball. man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."

The data set is perfectly balanced, so no issues there.

In [18]:
df['target'].value_counts()

4    800000
0    800000
Name: target, dtype: int64

## Clean the tweets
Convert everything to lowercase, expand contractions and remove punctuation.

Load contractions.

In [25]:
with open(os.path.join(DATA_DIR, CONTRACTIONS_FILE), 'r') as file:
    contractions = json.load(file)

Convert everything to lowercase.

In [33]:
contractions = {key.lower(): value.lower() for key, value in contractions.items()}

In [34]:
contractions

{"ain't": 'am not',
 "aren't": 'are not',
 "can't": 'can not',
 "can't've": 'can not have',
 "'cause": 'because',
 "could've": 'could have',
 "couldn't": 'could not',
 "couldn't've": 'could not have',
 "didn't": 'did not',
 "doesn't": 'does not',
 "don't": 'do not',
 "hadn't": 'had not',
 "hadn't've": 'had not have',
 "hasn't": 'has not',
 "haven't": 'have not',
 "he'd": 'he would',
 "he'd've": 'he would have',
 "he'll": 'he will',
 "he'll've": 'he will have',
 "he's": 'he is',
 "how'd": 'how did',
 "how'd'y": 'how do you',
 "how'll": 'how will',
 "how's": 'how is',
 "i'd": 'i would',
 "i'd've": 'i would have',
 "i'll": 'i will',
 "i'll've": 'i will have',
 "i'm": 'i am',
 "i've": 'i have',
 "isn't": 'is not',
 "it'd": 'it had',
 "it'd've": 'it would have',
 "it'll": 'it will',
 "it'll've": 'it will have',
 "it's": 'it is',
 "let's": 'let us',
 "ma'am": 'madam',
 "mayn't": 'may not',
 "might've": 'might have',
 "mightn't": 'might not',
 "mightn't've": 'might not have',
 "must've": 'must have',
 "mustn't": 'must not',
 "mustn't've": 'must not have',
 "needn't": 'need not',
 "needn't've": 'need not have',
 "o'clock": 'of the clock',
 "oughtn't": 'ought not',
 "oughtn't've": 'ought not have',
 "shan't": 'shall not',
 "sha'n't": 'shall not',
 "shan't've": 'shall not have',
 "she'd": 'she would',
 "she'd've": 'she would have',
 "she'll": 'she will',
 "she'll've": 'she will have',
 "she's": 'she is',
 "should've": 'should have',
 "shouldn't": 'should not',
 "shouldn't've": 'should not have',
 "so've": 'so have',
 "so's": 'so is',
 "that'd": 'that would',
 "that'd've": 'that would have',
 "that's": 'that is',
 "there'd": 'there had',
 "there'd've": 'there would have',
 "there's": 'there is',
 "they'd": 'they would',
 "they'd've": 'they would have',
 "they'll": 'they will',
 "they'll've": 'they will have',
 "they're": 'they are',
 "they've": 'they have',
 "to've": 'to have',
 "wasn't": 'was not',
 "we'd": 'we had',
 "we'd've": 'we would have',
 "we'll": 'we will',
 "we'll've": 'we will have',
 "we're": 'we are',
 "we've": 'we have',
 "weren't": 'were not',
 "what'll": 'what will',
 "what'll've": 'what will have',
 "what're": 'what are',
 "what's": 'what is',
 "what've": 'what have',
 "when's": 'when is',
 "when've": 'when have',
 "where'd": 'where did',
 "where's": 'where is',
 "where've": 'where have',
 "who'll": 'who will',
 "who'll've": 'who will have',
 "who's": 'who is',
 "who've": 'who have',
 "why's": 'why is',
 "why've": 'why have',
 "will've": 'will have',
 "won't": 'will not',
 "won't've": 'will not have',
 "would've": 'would have',
 "wouldn't": 'would not',
 "wouldn't've": 'would not have',
 "y'all": 'you all',
 "y'alls": 'you alls',
 "y'all'd": 'you all would',
 "y'all'd've": 'you all would have',
 "y'all're": 'you all are',
 "y'all've": 'you all have',
 "you'd": 'you had',
 "you'd've": 'you would have',
 "you'll": 'you will',
 "you'll've": 'you will have',
 "you're": 'you are',
 "you've": 'you have'}

Function to replace the contractions.

In [38]:
c_re = re.compile('(%s)' % '|'.join(contractions.keys()))
def expand_contractions(text, c_re=c_re):
    def replace(match):
        return contractions[match.group(0)]
    return c_re.sub(replace, text)

In [40]:
expand_contractions("i'm not")

'i am not'

Function to perform the cleaning of a single tweet.

In [41]:
BAD_SYMBOLS_RE = re.compile('[^0-9a-z #+_]')

In [47]:
def clean_tweet(tweet):
    # Remove URLs and mentions
    tweet = preprocessor.clean(tweet)
    # Remove bad symbols
    tweet = BAD_SYMBOLS_RE.sub(' ', tweet)
     # Expand contractions
    tweet = expandContractions(tweet)
    # Remove punctuation
    tweet = ' '.join(re.sub("([^0-9A-Za-z \t])", " ", tweet).split())
    # For RNN models such as LSTM we do not remove stopwords
    return tweet

Apply the pre-processing.

In [51]:
df['clean_text'] = df['text'].apply(clean_tweet)

## Shuffle the data set and save it

In [53]:
df = df.sample(frac=1)

Final data set

In [57]:
df.head()

,target,ids,date,flag,user,text,clean_text
111994,0,1825303411,Sun May 17 05:11:23 PDT 2009,NO_QUERY,msnomer,i sneezed all over my keyboard,i sneezed all over my keyboard
874670,4,1680130027,Sat May 02 10:58:25 PDT 2009,NO_QUERY,alainsaffel,i've been explaining twitter to people at the ...,i ve been elaining twitter to people at the bu...
1514847,4,2175530328,Mon Jun 15 01:14:51 PDT 2009,NO_QUERY,captainjack63,@sylvie7 good to hear your studying like mad. ...,good to hear your studying like mad new locati...
844075,4,1563990074,Mon Apr 20 01:12:55 PDT 2009,NO_QUERY,kisvirag,@theitalianjob: az se rossz,az se rossz
1247867,4,1995636996,Mon Jun 01 13:48:32 PDT 2009,NO_QUERY,scott_welch,@heathbriggs30 yes,yes

Save the data set

In [56]:
df.to_csv(os.path.join(DATA_DIR, CLEAN_SENTIMENT140_FILE), index=False)